.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 2rem;
  background-color: #1976d2 !important;
}

.spacer {
  flex: 1 1 auto;
}

.container {
  flex: 1 1 auto;
  padding: 20px;
}
